ion-thumbnail {
  --size: 100px;
  width: var(--size);
  height: var(--size);
}

.more-events {
  margin: 20px;
}

.horizontal-line {
  display: block;
  height: 1px;
  background-color: lightgrey;
}

app-heading.secondary {
  padding: 10px 20px;
}
