<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Eventure list</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngIf="events$ | async as events; else loading">
    <section *ngIf="events.length > 0; else empty">
      <ion-list *ngFor="let event of events">
        <ion-item routerLink="/events/detail/{{ event.id }}">{{ event.name }}</ion-item>
      </ion-list>
    </section>
  </ng-container>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createEvent()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ng-template #loading>
  <ion-item *ngFor="let event of [1, 2, 3, 4, 5, 6]">
    <ion-avatar slot="start">
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-avatar>
    <ion-label>
      <h3>
        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>
</ng-template>
<ng-template #empty>No items found!</ng-template>

