#categories {
  text-align: center;
  list-style: none;
  margin-block: 0;
  margin-inline: 0;
  padding: 0;
  li {
    display: inline;
  }
  li::after {
    content: ' | ';
  }
  li:last-child:after {
    content: '';
  }
}

ion-thumbnail {
  --size: 100px;
  width: var(--size);
  height: var(--size);
}

.more-events {
  margin: 20px;
}

.horizontal-line {
  display: block;
  height: 1px;
  background-color: var(--ion-color-light-contrast);
}

app-heading.secondary {
  display: block;
  padding: 10px 20px;
}
