<ion-content>
  <ion-toolbar class="padding-2">
    <app-heading large bold slot="start">Eventures</app-heading>
  </ion-toolbar>
  <ul id="categories">
    <li *ngFor="let category of categories" (click)="selectCategory(category)">
      {{ category }}
    </li>
  </ul>
  <ng-container *ngIf="events$ | async as events; else loading">
    <section *ngIf="events.length > 0; else empty">
      <app-heading medium bold class="secondary width-margin-2"
        >Featured</app-heading
      >
      <app-card-carousel [events]="events"></app-card-carousel>
    </section>
    <div class="horizontal-line width-margin-2 height-margin-1"></div>
    <section class="more-events" *ngIf="events.length > 0; else empty">
      <app-heading medium bold class="secondary">More</app-heading>
      <ion-list *ngFor="let event of events">
        <ion-item routerLink="/events/detail/{{ event.id }}">
          <ion-thumbnail slot="start">
            <ion-img [src]="event.picture"></ion-img>
          </ion-thumbnail>
          <h2>{{ event.name }}</h2>
        </ion-item>
      </ion-list>
      <!-- <img src="{{event.picture}}" /> -->
    </section>
  </ng-container>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createEvent()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ng-template #loading>
  <ion-item *ngFor="let event of [1, 2, 3, 4, 5, 6]">
    <ion-avatar slot="start">
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-avatar>
    <ion-label>
      <h3>
        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>
</ng-template>
<ng-template #empty>No items found!</ng-template>
