@import 'src/theme/utils/mixins';

:host {
  --carousel-height: 35vh;
  --active-slide-ratio: 4/3;

  @include responsive-to(medium) {
    --carousel-height: 38vh;
  }
}

.swiper-slide {
  width: fit-content;
  height: var(--carousel-height);
  display: flex;
  align-items: center;
}

.swiper-slide:not(.swiper-slide-active) {
  app-card {
    height: 90%;
    @include responsive-to(medium) {
    }
  }
}
