<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram Post</title>
    <link rel="stylesheet" href="css/main.css"></link>
</head>
<body>
    <div id="container">
        <section id="title">
            <h1>{{name}}</h1>
        </section>
        <section id="picture">
            <div id="picture-container">
                <img id="picture-src" src="{{image}}" />
            </div>
        </section>
        <section id="date">
            <div id="date-container">
                <div class="date__banner">
                    <h2 class="date__banner__text">
                        <span id="start-date">16</span>
                        <span id="sep"> - </span>
                        <span id="end-date">23 OUT</span>
                    </h2>
                </div>
            </div>
        </section>
        <section id="boxes">
            <img src="../.dist/images/background/blocks/B.png" />
        </section>
        <section id="line">
            <img src="../.dist/images/background/line/C.png" />
        </section>
        <section id="map">
            <h3 class="map__text">Porto</h3>
            <img src="../.dist/images/map/Portugal/Porto.png" />
        </section>
    </div>    
</body>
</html>